@media only screen and (min-width:480px){

    .login-create .form-wrapper > *{
        width: 350px;
    }

}
@media only screen and (min-width:600px){
    .navbar{
        height: 100px;
    }
    .home .new-arrival .new-arrival-container .new-arrival-img{
        height: 280px;
    }
    .home .discount{
        height: 140px;
    }
    .home .discount h1{
        
        font-size: 40px;
    }
    .home .discount h5{
        
        font-size: 20px;
    }

}
@media only screen and (min-width:700px){
    
    .home .new-arrival .new-arrival-container .new-arrival-img{
        height: 300px;
    }
}
@media only screen and (min-width:800px){
    
    .nav-menu{
        width: 350px;
    }
    .nav-menu h2{
        margin-bottom: 2em;
    }
    .nav-menu ul li:last-child{
        gap: 1.5em;
    }
    .home .new-arrival .new-arrival-container .new-arrival-img{
        height: 350px;
    }
    .login-create .form-wrapper > *{
        width: 400px;
    }
    .login-create{
        border-radius: 20px;
        width: 500px;
        padding: 50px 0;
        box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, .5);
    }
    .footer .connect{
        width: 100%;
    }
    
}

@media only screen and (min-width:1024px){
    .navbar{
        height: 120px;
        padding: 0 3em 0 3em;
    }
    .navbar ul{
        gap: 1em;
    }
    .navbar .img{
        width: 90px;
        height: 90px;
    }
    .home .discount{
        height: 180px;
    }
    .home .new-arrival .new-arrival-container .new-arrival-img{
        height: 250px;
    }
    .home .discount h1{
        
        font-size: 60px;
    }
    .home .discount h5{
        
        font-size: 25px;
    }
    
    /* .login-create .form-wrapper div input,
    .login-area,
    .create-area,
    .cancel-area,
    .signup-area {
        height: 40px;
    } */
}
@media only screen and (min-width:1280px){
    
    .home .discount{
        height: 200px;
    }
    .home .new-arrival .new-arrival-container .new-arrival-img{
        height: 300px;
    }
}
@media only screen and (min-width:1920px){
    
    .home .new-arrival .new-arrival-container .new-arrival-img{
        height: 350px;
    }
}
