.nav-container{
    width: 100%;
    position: fixed;
    z-index: 999;
    left: 0;
    /* box-shadow: .1px .1px 5px 1px var(--clr-tmain); */
    top: 0;
}
.navbar{
    background-color: var(--clr-bg-main);
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.4em 0 1.4em;
    align-items: center;
    position: relative;
    z-index: 1;
}
.navbar .img{
    width: 60px;
    height: 60px;
}
.navbar .img img{
    max-width: 100%;
    cursor: pointer;
}
.navbar .img a{
   display: flex;
   align-items: center;
   text-decoration: none;
   font-size: 1.5em;
   color: var(--clr-tmain);
   font-weight: 600;
   gap: .5em;
}
.navbar .img a span{
    white-space: nowrap;
    text-transform: uppercase;
}

.navbar ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
    gap: 1em;
    font-size: 25px;
    cursor: pointer;
}
.navbar ul li a{
    color: var(--clr-tmain);
    text-decoration: none;
    display: flex;
    align-items: center;

}
.search-nav{
    font-size: 1rem;
    width: 100%;
    padding: .5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1em; */
    background-color: rgba(255, 255, 255, 1);
    animation: searchShow .3s ease-in-out ;
    border-top: 2px  var(--clr-bg-second) solid;
    border-bottom: 2px  var(--clr-bg-second) solid;
    /* backdrop-filter:  blur(10px); */
}

.search-nav input{
    background-color: transparent;
    width: 60%;
    border: none;
    outline: none;
    height: 35px;
    padding-left: 2em;
    /* background-color: var(--clr-bg-second); */
    border-radius: 5px;
}
.search-nav svg{
    font-size: 25px;
    cursor: pointer;
    /* flex-grow: 1; */
}

.nav-menu{
    width: 300px;
    background-color: var(--clr-bg-main);
    position: absolute;
    right: 0;
    height: 100vh;
    overflow-y: scroll;
    text-transform: uppercase;
    padding: 1em 2em 0 1.5em;
    animation: menuShow .3s ease-in-out ;
}
.nav-menu::-webkit-scrollbar{
    width: 5px;
    height: 8px;
    background-color: transparent;
}
.nav-menu::-webkit-scrollbar-thumb{
    background-color: #cccccc;
    border-radius: 10px;
}
.nav-menu h2{
    margin-bottom: 1.5em;
    font-weight: 500;
}
.nav-menu ul li{
    font-size: 15px;
    list-style: none;
    position: relative;
    height: 40px;
    margin-bottom: 1em;
}
.nav-menu ul a{
    color: var(--clr-tmain);
    text-decoration: none;
    margin-bottom: 1em;
}
.nav-menu ul li::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0,.3);
    left: 0;
    bottom: 0;
}
.nav-menu ul li:last-child::before{
    display: none;
}
.nav-menu ul li:last-child{
    display: flex;
    gap: 1em;
    font-size: 25px;
    margin-bottom: 150px;
}
@keyframes searchShow {
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
    
}
@keyframes menuShow {
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
    
}

.footer{
    height: 271px;
    padding: 3em 4em .4em 4em;
    background-color: var(--clr-bg-second);
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: auto;
}
.footer .connect{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.footer .logo{
    width: 80px;
    height: 80px;
}
.footer .wrapper{
    width: clamp(400px, 400px, 600px);
}
.footer .logo img{
    max-width: 100%;
    cursor: pointer;
}
.footer .connect p{
    text-transform: uppercase;
    font-size: 15px;
}
.connect svg{
    font-size: 25px;
}
.footer .connect .connect-info svg{
    font-size: 15px;
    margin-right: 10px;
}
.footer .connect .connect-info ul li{
    list-style: none;
    margin-top: 15px;
    display: flex;
    font-size: 10px;
    align-items: center;
}
.footer .social{
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%,0);
}
.footer .social ul{
    display: flex;
    text-transform: uppercase;
    list-style: none;
    font-size: 11px;
    gap: 2em;

}
.copyright{
    position: absolute;
    bottom: 10px;
    font-size: 10px;
    left: 50%;
    transform: translate(-50%,0);
    text-transform: capitalize;
}
/* home */
.home{
    height: 100vh auto;
}
.home .carousel{
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}
.home .carousel img{
    max-height: 100%;
    object-position: 50% 50%;
}
/* embla carousel */
.home .embla {
    overflow: hidden;
    margin-bottom: 3em;

}
.home .embla__container {
    display: flex;
}
.home .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
}
.home .embla__slide img{
    max-height: 100%;
    object-position: 50% 50%;
}
.home .embla__slide button{
    position: absolute;
    z-index: 11;
    font-size: 15px;
    text-transform: uppercase;
    background: none;
    outline: none;
    border: 1px var(--clr-tmain) solid;
    padding: .8em 1.5em;
    bottom: 5em;
}
.home .discount{
    width: 100%;
    height: 120px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5em;
    margin-top: 10rem;
}
.home .discount h1, h5{
    color: var(--clr-bg-main);
    text-transform: uppercase;
    z-index: 3;
}
.home .discount h5{
    color: var(--clr-tmain);
    margin-bottom: -10px;
}
.home .discount img{
    position: absolute;
    max-width: 100%;
    z-index: 1;
}
.home .new-arrival{
    padding: 2em 0 3em 0;
    height: auto;
}
.home .new-arrival .new-arrival-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 3em;
    justify-content: space-evenly;

}
.home .new-arrival h2{
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1.7em;
}
.home .new-arrival .new-arrival-container .new-arrival-img{
    height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .new-arrival .new-arrival-container .new-arrival-img img{
    height: 100%;
}
.home .new-arrival .info {
    position: relative;
}
/*  */
.home .new-arrival .new-arrival-container p{
    margin-top: .2em;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
}

.login-create{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    /* min-height: 100vh; */
    margin-left: auto;
    margin-right: auto;
}
.login-create h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.login-create .form-wrapper{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
}
.login-create .form-wrapper > *{
    width: 300px;
    text-decoration: none;
    color: var(--clr-tmain);
}
.login-create .form-wrapper span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
}
.login-create .form-wrapper div{
    position: relative;
}
.login-create .form-wrapper div, button{
    margin-bottom: 2em;
}
.login-create .form-wrapper div input,
.login-area,
.create-area,
.cancel-area,
.signup-area {
    height: 48px;
    outline: none;
    border: 1px var(--clr-tmain) solid;
    background: transparent;
    color: var(--clr-tmain);
    border-radius: 0;
    width: 100%;
    padding-left: 1em;
}

.login-area,
.create-area,
.cancel-area,
.signup-area {
    padding: 0;
}
.login-create .form-wrapper .forgot-area{
    text-align: end;
    margin-bottom: -10px;
}
.login-create .form-wrapper .forgot-area a {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--clr-tmain);
    font-size: 14px;
    outline: none;
}
.signup-area, .login-area{
    margin-top: 1em;
    margin-bottom: .8em;
}
.login-area,
.create-area,
.signup-area,
.cancel-area{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    transition: letter-spacing .2s linear;
}

.login-create .form-wrapper .login-area,
.login-create .form-wrapper .signup-area{
    color: var(--clr-bg-main) ;
    background-color: var(--clr-tmain);
}
.pass-area{
    position: relative;
}
.pass-area .pass-error{
    left: 0;
    bottom: 0;
    transform: translateY(50%); 
    text-transform: none !important;
}
.pass-area svg{
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    cursor: pointer;
}

.pass-area input:valid + svg{
    display: flex;
}
.success-loading{
    font-size: 20px;
    animation: loading 1s linear infinite;
}
.invalid{
    color: red;
    font-size: 14px ;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    
}
@keyframes loading {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.left{
    padding-top: 100px;
    width: 100%;;
    padding-bottom: 1em ;
    position: relative;
}
.profile-area{
    width: 100%;
    background-color: var(--clr-bg-second);
    height: auto;
    padding: 2em 0 .5em 0;
}
.profile-area .profile{
    margin: auto;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    overflow: hidden;
}
.profile-area .profile img{
    object-fit: cover;
    max-width: 100%;
    object-position: center;
}
.profile-area p{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}
.profile-area .name{
    font-size: 15px;
    margin-top: 0px;
    text-transform: capitalize;
}
.profile-area .edit{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    gap: .5em;
}
.profile-area .edit button{
    background-color: transparent;
    text-transform: capitalize;
    height: 35px;
    width: 100px;
    border: 1px solid rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4em;
    cursor: pointer;
    border-radius: 5px;
    margin: 0;
}
.profile-area .edit .settings{
    font-size: 25px;
    cursor: pointer;
}
.nav_area{
    border-top: 5px solid var(--clr-bg-second) ;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.nav_area li{
    padding: 1em 1.5em 1em 1em;
    list-style: none;
    text-decoration: none;
    color: var(--clr-tmain);
    display: flex;
    gap: 10px;
    align-items: center;
}
.nav_area li .arrow{
    margin-left: auto;
    font-size: 30px;
    transition: transform .2s linear;
}
.orders{
    width: 100%;
    min-height: 30vh;
    animation: profileAnim .3s linear forwards;
}
@keyframes profileAnim {
    from{
        opacity: 0;
        transform: translateY(0%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.orders .order_det{
    margin: auto;
    width: 90%;
    display: flex;
    gap: 10px;
    min-height: 100px;
    align-items: center;
    padding: 1em 0;
    position: relative;
}
.orders .order_det .order_img{
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.orders .order_det .order_img img{
    max-width: 100%;
}
.orders .order_det .product_info{
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-between;
    flex-grow: 1;
}
.orders .order_det .product_info .product span{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
}
.orders .order_det .product_info .product p{
    font-size: 12px;
}
.orders .order_det .product_info .date-status{
    display: flex;
    gap: 50px;
}
.orders .order_det .product_info .date-status h1{
    font-size: 12px;
    text-transform: capitalize;
    position: relative;
    font-weight: 600;
    flex-grow: 1;
}
.orders .amount{
    text-transform: capitalize;
    text-align: end;
    font-size: 12px;
    font-weight: 600;
    width: 90%;
    margin: auto;
    margin-top: 2em;
}
.orders  p.note{
    font-size: 10px;
    width: 90%;
    margin: auto;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 1em;
}
.date-status h1::after{
    content: attr(attr);
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-90%);
    font-size: 10px;
    white-space: nowrap;
    font-weight: 300;
}

.form{
    animation: profileAnim .3s linear forwards;
    width: 100%;
    padding-top: 1em;  
    border-bottom: 5px solid var(--clr-bg-second) ;
    min-height: 30vh;
}
.form form{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.form span{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.form input{
    height: 45px;
    outline: none;
    border: 1px var(--clr-tmain) solid;
    background: transparent;
    color: var(--clr-tmain);
    border-radius: 0;
    width: 100%;
    padding: 0 1em;
    margin-bottom: 1.5em;
}
.form p{
    font-size: 12px;
    font-style: italic;
    margin: 1em 0;
}
.form button{
    font-size: 15px;
    height: 45px;
    outline: none;
    background-color: var(--clr-tmain);
    color: var(--clr-bg-main);
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.modal-open {
    overflow: hidden;
  }
.modal-container{
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
    z-index: 9999;
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.modal_profile{
    width: 90%;
    background-color: var(--clr-bg-main);
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 500px;
    transform: translate(-50%, -50%);
}
.modal_profile h4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    padding: .5em 1em;
    border-bottom: 1px solid rgba(0, 0, 0, .3);

}
.modal_profile .picture{
    margin: 1em auto 0 auto;
    width: 90%;

}
.modal_profile .picture .profile{
    width: 100px;
    position: relative;
    height: 100px;
    margin: auto;
}
.modal_profile .profile img{
    max-width: 100%;
    clip-path: circle();
}
.modal_profile .profile .edit_icon{
    position: absolute;
    background-color: var(--clr-bg-main);
    font-size: 20px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    cursor: pointer;
    right: 0;
}
.modal_profile .info{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    width: 90%;
    margin: 1em auto 0 auto;

}
.modal_profile .info input {
    height: 35px;
    width: 100%;
    outline: none;
    border: 1px solid var(--clr-tmain);
    padding-left: .5em;
}
.modal_profile .info p{
    font-size: 10px;
    margin-top: .5em;
}